.header-menu {
  display: flex;
  top: 0;
  justify-content: space-between;
  padding: 10px;
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.with-shadow {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.header-menu span {
  align-self: center;
  font-size: 20px;
}

.header-menu ul {
  display: flex;
}

.header-menu li {
  display: flex;
  padding-right: 30px;
  align-items: center;
  list-style-type: none;
}

.header-logo {
  width: 130px;
  height: 40px;
}

@media only screen and (min-width: 577px) {
  .header-logo {
    width: 190px;
    height: 60px;
  }
}

.button-logout {
  margin-right: 20px;
  background-color: #f44336;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.button-logout:hover {
  background-color: #d32f2f;
}

.button-logout:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(244, 67, 54, 0.5);
}

.button-logout:active {
  background-color: #b71c1c;
}
