.users-page {
  display: grid;
  place-items: center;
  height: 100vh;
  align-content: space-evenly;
}

.users-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.users-box {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.user {
  max-width: 70vw;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 4px;
  font-size: 0.9em;
}

@media screen and (max-width: 1170px) {
  .users-title {
    margin-top: 70px;
  }
}

.user-name {
  font-weight: bold;
}

.user-email {
  margin-top: 10px;
}
